.node{
    height: 25px;
    width: 25px;
    margin:0;
    padding:0;
    background-color: whitesmoke;
    outline: 1px solid gainsboro;
    display: inline-block;
}


.node-start{
    background-color: mediumvioletred;
}

.node-finish{
    background-color: rgb(233, 54, 54);
}

.node-wall{
    background-color: dimgray;
}

.node-visited{
    background-color: aquamarine;
}

.node-shortest-path{
    background-color: mediumseagreen;
}