.visualizer{
    margin-top: 5rem;
    margin-left: 1rem;
}
.grid {
    display: block;
    /* margin-top: 5rem; */
    /* margin-left:1rem; */
    justify-content: center;
    align-items: center;
    height: 80vh;
    width:98vw;
    border: 3px solid green;
    overflow-x: hidden;
    overflow-y: hidden;
 }